_site/**
.sass-cache
.ssh/**
.hushlogin
.npm/**
.profile
.tmux.conf
.vim/**
.gem/**
.gemrc
.cache/**
.bundle/**
.bashrc
.bash_logout
.vimrc
.zcompdump
.zcompdump-jekyll-139479-5.0.2
.zsh_history
.zshrc
.oh-my-zsh